@charset "utf-8";
/* CSS Document */

.fontOrange{
	color:#F00;
}

*{
	margin:0;
	padding:0;
}

body{
	font:12px/1.5em Tahoma,Verdana,Simsun,Microsoft YaHei,Arial Unicode MS,Mingliu,Arial,Helvetica;
	background:#fff;
}

.h4title{
background:none repeat scroll 0 0 #F4FBFF;
border-bottom:1px solid #D2EAFF;
height:25px;
line-height:25px;
margin:0 0 10px;
text-indent:10px;
}

.item-nav li{
	float:left;margin-left:10px;
}
.item-nav a{
	display:block;
	font-size:15px;
	height:23px;
	width:140px;
	text-align:center;
	font-color:#aed2ff;
	font-weight:600;
}

.item-nav .current{
	border:1px solid #aed2ff;
	background-color:#aed2ff;
	font-color:#fffff;
}