BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 tahoma,arial,宋体
}
BUTTON {
	FONT: 12px/1.5 tahoma,arial,宋体
}
INPUT {
	FONT: 12px/1.5 tahoma,arial,宋体
}
SELECT {
	FONT: 12px/1.5 tahoma,arial,宋体
}
TEXTAREA {
	FONT: 12px/1.5 tahoma,arial,宋体
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
SMALL {
	FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
LEGEND {
	COLOR: #000
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
#page {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#header {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#content {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#footer {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.w950 {
	WIDTH: 950px
}
.col-main {
	MIN-HEIGHT: 1px; WIDTH: 100%; FLOAT: left
}
.col-sub {
	FLOAT: left
}
.col-extra {
	FLOAT: left
}
.layout:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.main-wrap:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.col-sub:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.col-extra:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.layout {
	ZOOM: 1
}
.main-wrap {
	ZOOM: 1
}
.col-sub {
	ZOOM: 1
}
.col-extra {
	ZOOM: 1
}
#site-nav .quick-menu LI {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .search .menu-hd S {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .menu-bd S.rb {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .menu-bd S.lb {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .menu-bd S.lt {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .menu:hover {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .hover .menu {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .menu:hover .menu-hd {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .hover .menu-hd {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
#site-nav .search .menu-bd BUTTON {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) no-repeat 999em 0px
}
BODY {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1zZ4xXgRgXXXXXXXX-120-100.png) #fff repeat-x 0px -74px
}
HTML {
	; ZOOM: expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true);}(this))
}
#header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#site-nav-bg {
	Z-INDEX: 9999; BORDER-BOTTOM: #d2d2d2 1px solid; POSITION: absolute; WIDTH: 100%; BACKGROUND: #f7f7f7; HEIGHT: 25px; TOP: 0px; LEFT: 0px
}
#site-nav {
	Z-INDEX: 10000; POSITION: relative; LINE-HEIGHT: 25px; HEIGHT: 26px; COLOR: #000
}
#site-nav A {
	COLOR: #1f3d99
}
#site-nav A:hover {
	COLOR: #f50
}
#site-nav .login-info {
	FLOAT: left
}
#site-nav .login-info A {
	MARGIN-RIGHT: 8px
}
#site-nav .login-info A.user-nick {
	MARGIN-RIGHT: 0px
}
#site-nav .quick-menu {
	FLOAT: right
}
#site-nav .quick-menu LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right -23px; FLOAT: left; MARGIN-LEFT: -1px; PADDING-TOP: 0px
}
#site-nav .quick-menu LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#site-nav .quick-menu LI.menu-item {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#site-nav .menu-hd {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 22px; DISPLAY: block; HEIGHT: 26px; COLOR: #1f3d99; CURSOR: pointer; PADDING-TOP: 0px; _display: inline-block
}
#site-nav .menu-hd B {
	BORDER-BOTTOM: #f7f7f7 4px solid; POSITION: absolute; BORDER-LEFT: #f7f7f7 4px solid; LINE-HEIGHT: 0; WIDTH: 0px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: #1f3d99 4px solid; TOP: 11px; RIGHT: 10px; BORDER-RIGHT: #f7f7f7 4px solid; -webkit-transition: -webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in
}
#site-nav .search .menu-hd {
	PADDING-LEFT: 25px
}
#site-nav .search .menu-hd S {
	POSITION: absolute; WIDTH: 12px; BACKGROUND-POSITION: -68px -50px; HEIGHT: 12px; TOP: 6px; LEFT: 10px
}
#site-nav .menu-bd {
	BORDER-BOTTOM: #bfbfbf 1px solid; POSITION: absolute; BORDER-LEFT: #bfbfbf 1px solid; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #bfbfbf 1px solid; TOP: 22px; RIGHT: 0px; BORDER-RIGHT: #bfbfbf 1px solid
}
#site-nav .menu-bd S {
	POSITION: absolute; DISPLAY: none
}
#site-nav .menu-bd S.r {
	WIDTH: 1px; BACKGROUND: #d9d9d9; HEIGHT: 100%; TOP: 0px; RIGHT: -2px
}
#site-nav .menu-bd S.rt {
	WIDTH: 78px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 1px; FONT-SIZE: 0px; TOP: -1px; RIGHT: 0px
}
#site-nav .menu-bd S.b {
	BORDER-BOTTOM: #bfbfbf 1px solid; BOTTOM: -4px; BACKGROUND: #fff; HEIGHT: 4px; FONT-SIZE: 0px; RIGHT: 4px
}
#site-nav .menu-bd S.b2 {
	BORDER-RIGHT-WIDTH: 0px; BOTTOM: -5px; BACKGROUND: #d9d9d9; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 1px; FONT-SIZE: 0px; BORDER-LEFT-WIDTH: 0px
}
#site-nav .menu-bd S.rb {
	WIDTH: 6px; BOTTOM: -5px; BACKGROUND-POSITION: -83px -50px; HEIGHT: 5px; FONT-SIZE: 0px; RIGHT: -2px
}
#site-nav .menu-bd S.lb {
	WIDTH: 6px; BOTTOM: -5px; BACKGROUND-POSITION: -89px -50px; HEIGHT: 5px; FONT-SIZE: 0px; LEFT: -1px
}
#site-nav .menu-bd S.lt {
	WIDTH: 3px; BACKGROUND-POSITION: -83px -55px; HEIGHT: 3px; FONT-SIZE: 0px; TOP: -1px; LEFT: -1px
}
#site-nav .mytaobao .menu-bd S.b {
	WIDTH: 85px
}
#site-nav .services .menu-bd S.b {
	WIDTH: 165px
}
#site-nav .search .menu-bd S.b {
	WIDTH: 197px
}
#site-nav .search .menu-bd S.rt {
	WIDTH: 69px
}
#site-nav IFRAME.menu-bd {
	Z-INDEX: -1; FILTER: alpha(opacity=0); BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
#site-nav .menu-bd-panel {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
UNKNOWN {
	LEFT: 0px
}
#site-nav .menu-item-opp .menu-bd S.rt {
	LEFT: 0px
}
#site-nav .menu-item-opp .menu-bd S.lt {
	BACKGROUND-POSITION: -87px -55px; RIGHT: -2px; LEFT: auto
}
#site-nav .menu:hover {
	POSITION: relative; BACKGROUND-POSITION: right 3px
}
#site-nav .hover .menu {
	POSITION: relative; BACKGROUND-POSITION: right 3px
}
#site-nav .menu:hover .menu-hd {
	BACKGROUND-POSITION: 0px -22px
}
#site-nav .hover .menu-hd {
	BACKGROUND-POSITION: 0px -22px
}
#site-nav .menu:hover .menu-bd {
	DISPLAY: block
}
#site-nav .hover .menu-bd {
	DISPLAY: block
}
#site-nav .menu:hover .menu-hd B {
	BORDER-BOTTOM-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-TOP-COLOR: #1f3d99; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; TOP: 7px; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%
}
#site-nav .hover .menu-hd B {
	BORDER-BOTTOM-COLOR: #fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); BORDER-TOP-COLOR: #1f3d99; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; TOP: 7px; -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%
}
#site-nav .mytaobao .menu-bd {
	LINE-HEIGHT: 1.7; WIDTH: 94px; HEIGHT: 57px
}
#site-nav .mytaobao .menu-bd-panel {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}
#site-nav .mytaobao .menu-bd S.b {
	_bottom: -5px
}
#site-nav .mytaobao .menu-bd S.lb {
	_bottom: -6px
}
#site-nav .mytaobao .menu-bd S.rb {
	_bottom: -6px
}
#site-nav .mytaobao .menu-bd S.b2 {
	_bottom: -6px
}
#site-nav .search .menu-bd {
	WIDTH: 204px; HEIGHT: 66px; _right: -1px
}
#site-nav .search .menu-bd INPUT {
	BORDER-BOTTOM: #b7b7b7 1px solid; BORDER-LEFT: #878787 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 13px; PADDING-LEFT: 1px; WIDTH: 180px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 5px; FLOAT: left; BORDER-TOP: #878787 1px solid; BORDER-RIGHT: #b7b7b7 1px solid; PADDING-TOP: 3px
}
#site-nav .search .menu-bd BUTTON {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 66px; BACKGROUND-POSITION: 0px -50px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
#site-nav .services .menu-bd {
	WIDTH: 174px; HEIGHT: 218px
}
#site-nav .services .menu-bd-panel {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
#site-nav .services .menu-bd DL {
	BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#site-nav .services .menu-bd .last {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
#site-nav .services .menu-bd DT {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.5; COLOR: #8c8c8c; FONT-WEIGHT: bold
}
#site-nav .services .menu-bd DD {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.6
}
#site-nav .services .menu-bd DD A {
	MARGIN-RIGHT: 2px
}
#system-announce {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f6f6f6; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #f30; CLEAR: both; BORDER-TOP: #eee 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 8px
}
#logo {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 16px
}
#header .wrap-box {
	MARGIN-TOP: -49px; FLOAT: right
}
#site-search {
	MARGIN-TOP: 9px; FLOAT: right
}
#site-search .search-box {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #e6e6e6; FLOAT: left; BORDER-TOP: #d1d1d1 1px solid; BORDER-RIGHT: #d1d1d1 1px solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px
}
#site-search .search-box FORM {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 3px
}
#site-search INPUT {
	BORDER-BOTTOM: #b5b5b5 1px solid; BORDER-LEFT: #b5b5b5 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; VERTICAL-ALIGN: middle; BORDER-TOP: #b5b5b5 1px solid; BORDER-RIGHT: #b5b5b5 1px solid; PADDING-TOP: 1px
}
#site-search SELECT {
	BORDER-BOTTOM: #b5b5b5 1px solid; BORDER-LEFT: #b5b5b5 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; VERTICAL-ALIGN: middle; BORDER-TOP: #b5b5b5 1px solid; BORDER-RIGHT: #b5b5b5 1px solid; PADDING-TOP: 1px
}
#site-search INPUT {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 16px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; _margin-top: -1px
}
#site-search BUTTON {
	WIDTH: 65px; HEIGHT: 24px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
#site-search .search-type SELECT {
	WIDTH: 67px
}
#site-search .search-cat SELECT {
	WIDTH: 220px
}
#site-search .search-query INPUT {
	WIDTH: 210px
}
#site-search .search-cat .S {
	BACKGROUND-COLOR: #ebefff
}
#site-search FORM SPAN {
	MARGIN-TOP: 2px; DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
#site-search .search-more {
	LINE-HEIGHT: 16px; MARGIN-TOP: -2px; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 3px
}
#site-search .search-more A {
	DISPLAY: block; COLOR: #404040
}
#site-search .search-more A:hover {
	COLOR: #f50
}
#header .quick-link {
	FLOAT: right; CLEAR: both
}
#header .quick-link LI {
	PADDING-LEFT: 8px; BACKGROUND-POSITION: 0px -343px; FLOAT: left; MARGIN-RIGHT: 11px
}
#header .quick-link LI.last {
	MARGIN-RIGHT: 2px
}
#channel-nav .bd {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav LI A {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav LI A SPAN {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav .rc-tp {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav .rc-tp SPAN {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav .rc-bt {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav .rc-bt SPAN {
	BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/header_bg_20100225.png) no-repeat -999em 0px
}
#channel-nav {
	MARGIN-TOP: 10px; BACKGROUND: #fed98a
}
#channel-nav A {
	COLOR: #fff
}
#channel-nav A:hover {
	COLOR: #ffea00
}
#channel-nav .bd {
	BORDER-BOTTOM: #f69968 1px; BORDER-LEFT: #f69968 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -459px; HEIGHT: 33px; BORDER-TOP: #f69968 1px solid; BORDER-RIGHT: #f69968 1px solid
}
#channel-nav .rc-tp {
	POSITION: relative; DISPLAY: block; BACKGROUND-POSITION: -96px -428px; MARGIN-BOTTOM: -30px; HEIGHT: 30px
}
#channel-nav .rc-tp SPAN {
	WIDTH: 4px; BACKGROUND-POSITION: -92px -428px; FLOAT: right; HEIGHT: 30px
}
#channel-nav .rc-bt {
	POSITION: relative; MARGIN-TOP: -4px; DISPLAY: block; BACKGROUND-POSITION: -96px -424px; HEIGHT: 4px
}
#channel-nav .rc-bt SPAN {
	POSITION: absolute; WIDTH: 4px; BACKGROUND-POSITION: -92px -424px; HEIGHT: 4px; OVERFLOW: hidden; TOP: 0px; RIGHT: 0px
}
#channel-nav DT {
	FLOAT: left
}
#channel-nav DD {
	FLOAT: left
}
#channel-nav LI {
	FLOAT: left
}
#channel-nav .trade {
	POSITION: relative; LINE-HEIGHT: 33px; MARGIN-TOP: 3px; PADDING-LEFT: 12px; FLOAT: left; FONT-SIZE: 14px; OVERFLOW: hidden
}
#channel-nav .trade DT {
	DISPLAY: none
}
#channel-nav DD LI {
	MARGIN: 0px -2px 0px 2px; BACKGROUND-POSITION: 100% -523px; HEIGHT: 30px; COLOR: #fff
}
#channel-nav DD LI.last {
	MARGIN-RIGHT: 0px
}
#channel-nav DD LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; FLOAT: left; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
#channel-nav .news DD LI A {
	PADDING-LEFT: 5px
}
#channel-nav DD LI A SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px
}
#channel-nav .news DD LI A SPAN {
	PADDING-RIGHT: 7px
}
BODY.chl-home #channel-nav .chl-home A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-global #channel-nav .chl-global A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-ershou #channel-nav .chl-ershou A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-gift #channel-nav .chl-gift A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-sale #channel-nav .chl-sale A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-jipiao #channel-nav .chl-jipiao A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-caipiao #channel-nav .chl-caipiao A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-idea #channel-nav .chl-idea A {
	BACKGROUND-POSITION: 0px -492px; COLOR: #404040; MARGIN-LEFT: -2px
}
BODY.chl-home #channel-nav .chl-home A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-global #channel-nav .chl-global A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-ershou #channel-nav .chl-ershou A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-gift #channel-nav .chl-gift A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-sale #channel-nav .chl-sale A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-jipiao #channel-nav .chl-jipiao A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-caipiao #channel-nav .chl-caipiao A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
BODY.chl-idea #channel-nav .chl-idea A SPAN {
	LINE-HEIGHT: 32px; BACKGROUND-POSITION: 100% -492px
}
#logo .sub-logo {
	POSITION: relative; WIDTH: 100px; DISPLAY: inline-block; BACKGROUND: url(http://a.tbcdn.cn/tbsp/img/header/sub_logo.png) no-repeat -999px -999px; HEIGHT: 35px; MARGIN-LEFT: -5px; VERTICAL-ALIGN: top
}
BODY.nobg {
	BACKGROUND-IMAGE: none
}
BODY.chl-help #logo .sub-logo {
	BACKGROUND-POSITION: 0px 0px
}
BODY.chl-global #logo .sub-logo {
	BACKGROUND-POSITION: 0px -336px
}
BODY.chl-ershou #logo .sub-logo {
	BACKGROUND-POSITION: -109px -289px
}
BODY.chl-gift #logo .sub-logo {
	BACKGROUND-POSITION: -109px -337px
}
BODY.chl-sale #logo .sub-logo {
	BACKGROUND-POSITION: -109px -241px
}
BODY.chl-caipiao #logo .sub-logo {
	BACKGROUND-POSITION: -109px -385px
}
BODY.chl-caipiao #logo .sub-logo {
	BACKGROUND-POSITION: -109px -385px
}
BODY.chl-idea #logo .sub-logo {
	BACKGROUND-POSITION: 0px -385px
}
BODY.chl-idea #channel-nav .chl-idea {
	MARGIN-RIGHT: 0px
}
BODY.chl-forum-fp #logo .sub-logo {
	WIDTH: 120px; BACKGROUND-POSITION: 0px -480px
}
BODY.chl-dating #logo .sub-logo {
	BACKGROUND-POSITION: 0px -528px
}
BODY.sys-dist #logo .sub-logo {
	BACKGROUND-POSITION: 0px -620px
}
.sys-mytaobao #logo .sub-logo {
	BACKGROUND-POSITION: 0px -670px
}
.sys-taojianghu #logo .sub-logo {
	BACKGROUND-POSITION: 0px -670px
}
.sys-jianghu #logo .sub-logo {
	BACKGROUND-POSITION: 0px -718px
}
BODY.chl-t1z #logo .sub-logo {
	WIDTH: 120px; BACKGROUND-POSITION: 0px -576px
}
BODY.chl-jie #logo .sub-logo {
	BACKGROUND-POSITION: -120px -576px
}
BODY.chl-card #logo .sub-logo {
	WIDTH: 110px; BACKGROUND-POSITION: 0px -764px
}
BODY.chl-cod #logo .sub-logo {
	BACKGROUND-POSITION: -109px -620px
}
BODY.chl-forum-fp #header .quick-link .forum {
	DISPLAY: none
}
BODY.chl-forum-fp #header .quick-link .dating {
	DISPLAY: none
}
.tsearch-panel-fields {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch-panel BUTTON {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch-panel-fields-shadow {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch .rc-tp-l {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch .rc-tp-r {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch .rc-bt-l {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch .rc-bt-r {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch-cat-hd {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch-cat-all-selected {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch-cat-selected {
	BACKGROUND: url(http://img07.taobaocdn.com/tps/i7/T1cYNAXfJiXXXXXXXX-489-82.png) no-repeat -999em 0px
}
.tsearch {
	POSITION: relative; WIDTH: 630px
}
.tsearch UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tsearch LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tsearch .hidden {
	DISPLAY: none
}
.tsearch .rc-tp-l {
	POSITION: absolute; WIDTH: 4px; HEIGHT: 4px; OVERFLOW: hidden
}
.tsearch .rc-tp-r {
	POSITION: absolute; WIDTH: 4px; HEIGHT: 4px; OVERFLOW: hidden
}
.tsearch .rc-bt-l {
	POSITION: absolute; WIDTH: 4px; HEIGHT: 4px; OVERFLOW: hidden
}
.tsearch .rc-bt-r {
	POSITION: absolute; WIDTH: 4px; HEIGHT: 4px; OVERFLOW: hidden
}
.tsearch .rc-tp-l {
	BACKGROUND-POSITION: -485px -30px; TOP: -1px; LEFT: -1px
}
.tsearch .rc-tp-r {
	BACKGROUND-POSITION: -482px -30px; TOP: -1px; RIGHT: -1px
}
.tsearch .rc-bt-l {
	BOTTOM: -1px; BACKGROUND-POSITION: -485px -33px; LEFT: -1px
}
.tsearch .rc-bt-r {
	BOTTOM: -1px; BACKGROUND-POSITION: -482px -33px; RIGHT: -1px
}
.tsearch-panel .rc-bt-l {
	BOTTOM: 0px; LEFT: 0px
}
.tsearch-panel .rc-bt-r {
	BOTTOM: 0px; RIGHT: 0px
}
.tsearch-lite .tsearch-panel .rc-bt-l {
	_bottom: -1px
}
.tsearch-lite .tsearch-panel .rc-bt-r {
	_bottom: -1px
}
.tsearch-panel-fields .rc-tp-l {
	WIDTH: 3px; HEIGHT: 3px
}
.tsearch-panel-fields .rc-bt-l {
	WIDTH: 3px; HEIGHT: 3px
}
.tsearch-panel-fields .rc-tp-l {
	BACKGROUND-POSITION: -482px -40px
}
.tsearch-panel-fields .rc-bt-l {
	BOTTOM: -1px !important; BACKGROUND-POSITION: -482px -37px; LEFT: -1px
}
.tsearch-tabs {
	Z-INDEX: 1; POSITION: relative; ZOOM: 1
}
.tsearch-tabs UL {
	ZOOM: 1; FONT-SIZE: 12px; OVERFLOW: hidden
}
.tsearch-tabs LI {
	BORDER-BOTTOM: #fff 0px solid; POSITION: relative; BORDER-LEFT: #fff 0px solid; FLOAT: left; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 0px solid
}
.tsearch-tabs LI S {
	DISPLAY: none
}
.tsearch-tabs LI.tsearch-tabs-active {
	BORDER-BOTTOM-COLOR: #d0d0d0; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #d0d0d0; BACKGROUND: #f3f3f3; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-COLOR: #d0d0d0; BORDER-LEFT-COLOR: #d0d0d0; BORDER-LEFT-WIDTH: 1px
}
.tsearch-tabs LI.tsearch-tabs-active S {
	DISPLAY: block
}
.tsearch-tabs LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 26px; COLOR: #005ed9; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.tsearch-tabs LI A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.tsearch-tabs LI.tsearch-tabs-active A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; COLOR: #3e3e3e; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.tsearch-tabs LI.tsearch-tabs-active A:hover {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; COLOR: #3e3e3e; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.tsearch-panel {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; MARGIN-TOP: -1px; BACKGROUND: #f3f3f3; HEIGHT: 40px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid
}
.tsearch-panel:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.tsearch-panel FORM {
	POSITION: relative; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; ZOOM: 1; PADDING-TOP: 4px
}
.tsearch-panel-fields {
	BORDER-BOTTOM: #9b9f9f 1px solid; POSITION: relative; BORDER-LEFT: #9b9f9f 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 488px; ZOOM: 1; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 30px; BORDER-TOP: #9b9f9f 1px solid; BORDER-RIGHT: #9b9f9f 0px solid
}
.tsearch-panel-fields LABEL {
	Z-INDEX: 2; POSITION: absolute; LINE-HEIGHT: 30px; COLOR: #bababa; FONT-SIZE: 14px; TOP: 0px; CURSOR: text; LEFT: 4px; _top: 2px
}
.tsearch-panel-fields #q {
	POSITION: absolute; PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 4px; WIDTH: 480px; PADDING-RIGHT: 4px; FONT-FAMILY: verdana,tahoma,arial,宋体; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 14px; BORDER-LEFT-WIDTH: 0px; TOP: 0px; PADDING-TOP: 6px; LEFT: 0px
}
.tsearch-panel-fields-shadow {
	POSITION: absolute; WIDTH: 2px; BACKGROUND-POSITION: -349px -30px; HEIGHT: 28px; TOP: 1px; RIGHT: 0px
}
.tsearch-panel .rc-tp-l {
	DISPLAY: none
}
.tsearch-panel .tsearch-panel-fields .rc-tp-l {
	DISPLAY: block
}
.tsearch-panel BUTTON {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #f68911; TEXT-INDENT: -999em; PADDING-LEFT: 0px; WIDTH: 131px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: -351px -30px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 32px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.tsearch-cat {
	POSITION: absolute; WIDTH: 81px; HEIGHT: 24px; TOP: 0px; LEFT: 0px
}
.tsearch-cat-hd {
	LINE-HEIGHT: 24px; TEXT-INDENT: 6px; WIDTH: 55px; PADDING-RIGHT: 26px; DISPLAY: block; BACKGROUND-POSITION: 0px -30px; HEIGHT: 24px; COLOR: #3e3e3e; FONT-SIZE: 12px; OVERFLOW: hidden
}
.tsearch-cat-hd SPAN {
	WIDTH: 55px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden; CURSOR: pointer
}
.tsearch-cat DIV {
	BORDER-BOTTOM: #abb1b1 1px solid; POSITION: absolute; BORDER-LEFT: #abb1b1 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #fff; HEIGHT: 400px; OVERFLOW: auto; BORDER-TOP: #abb1b1 1px solid; TOP: -1px; BORDER-RIGHT: #abb1b1 1px solid; PADDING-TOP: 5px; LEFT: -1px; -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc; box-shadow: 3px 3px 4px #ccc
}
.tsearch-cat DIV A {
	LINE-HEIGHT: 25px; BACKGROUND-COLOR: #fff; TEXT-INDENT: 46px; DISPLAY: block; HEIGHT: 25px; COLOR: #3f3f3f; OVERFLOW: hidden
}
.tsearch-cat DIV A:hover {
	BACKGROUND-COLOR: #f60; COLOR: #fff; TEXT-DECORATION: none
}
.tsearch-cat DIV A.tsearch-cat-all {
	TEXT-INDENT: 24px; BACKGROUND-POSITION: 7px -61px
}
.tsearch-cat DIV A.tsearch-cat-selected {
	BACKGROUND-POSITION: 29px -61px; COLOR: #f60; FONT-WEIGHT: bold
}
.tsearch-cat DIV A.tsearch-cat-selected:hover {
	BACKGROUND-COLOR: #fff; COLOR: #f60
}
.tsearch-panel-fields-extend .tsearch-cat {
	BACKGROUND-POSITION: -81px -30px
}
.tsearch-panel-fields-extend S {
	DISPLAY: none
}
.tsearch-cat-active {
	Z-INDEX: 100
}
.tsearch-cat-active DIV {
	DISPLAY: block
}
.tsearch-lite {
	WIDTH: 600px
}
.tsearch-lite .tsearch-tabs LI A {
	LINE-HEIGHT: 20px; HEIGHT: 21px
}
.tsearch-lite .tsearch-panel {
	HEIGHT: 34px
}
.tsearch-lite .tsearch-panel-fields {
	HEIGHT: 24px
}
.tsearch-lite .tsearch-panel-fields #q {
	LINE-HEIGHT: 14px; HEIGHT: 14px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.tsearch-lite .tsearch-panel-fields LABEL {
	FONT-SIZE: 12px; TOP: -2px; _top: -3px
}
.tsearch-lite .tsearch-panel BUTTON {
	WIDTH: 101px; BACKGROUND-POSITION: -248px -30px; HEIGHT: 26px
}
.tsearch-lite .tsearch-panel-fields-shadow {
	HEIGHT: 23px
}
.tsearch-with-cat .tsearch-panel-fields #q {
	WIDTH: 400px; LEFT: 81px
}
.tsearch-with-cat .tsearch-panel-fields LABEL {
	LEFT: 85px
}
.tsearch-notab .tsearch-panel .rc-tp-l {
	DISPLAY: block
}
#footer {
	TEXT-ALIGN: center; MARGIN: 10px auto; CLEAR: both; BORDER-TOP: #d1d7dc 1px solid; PADDING-TOP: 10px
}
#footer .foot-nav {
	MARGIN: 0px auto; DISPLAY: block; HEIGHT: 20px
}
#footer .foot-nav A {
	MARGIN: 0px 7px
}
#footer .ali-group {
	MARGIN: 5px auto
}
#footer .ali-group A {
	MARGIN: 0px 1px
}
#footer .copyright {
	MARGIN: 15px auto 0px; CLEAR: both
}
#server-num {
	COLOR: #fff; FONT-SIZE: 11px
}
