<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.ymai.struts.UTF8ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-user.xml,/WEB-INF/struts-config-order.xml
				,/WEB-INF/struts-config-user-s.xml,/WEB-INF/struts-config-user-u.xml,/WEB-INF/struts-config-user-a.xml
				,/WEB-INF/struts-config-ordersystem.xml,/WEB-INF/struts-config-service.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    <init-param>
      <param-name>cap.font.color</param-name>
      <param-value>0,0,255</param-value>
    </init-param>
    <init-param>
      <param-name>cap.char.arr</param-name>
      <param-value>1,2,3,4,5,6,7,8,9,0</param-value>
    </init-param>
    <init-param>
      <param-name>cap.border</param-name>
      <param-value>yes</param-value>
    </init-param>
    <init-param>
      <param-name>cap.border.c</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>cap.border.th</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>cap.background.c.to</param-name>
      <param-value>0,123,0</param-value>
    </init-param>
    <init-param>
      <param-name>cap.background.c.from</param-name>
      <param-value>0,123,0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/vCode.jpg</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>HibernateFilter</filter-name>
    <filter-class>com.ymai.struts.filter.HibernateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HibernateFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserAdminFilter</filter-name>
    <filter-class>com.ymai.struts.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAdminFilter</filter-name>
    <url-pattern>/user/a/welcome.do?action=</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.ymai.struts.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/user/activate.do?action=ac</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CityFilter</filter-name>
    <filter-class>com.ymai.struts.filter.CityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CityFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <!-- 
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/static/constructing.jsp</location>
  </error-page> -->
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
</web-app>

